https://steamcommunity.com:443, www.steamcommunity.com:443 {
#tls self_signed
tls steamcommunity.crt steamcommunity.key
    # default/catchall
    reverse_proxy https://steamuserimages-a.akamaihd.net https://steamstore-a.akamaihd.net https://steamcommunity-a.akamaihd.net https://steampipe.akamaized.net https://eaassets-a.akamaihd.net https://humblebundle-a.akamaihd.net https://steamcommunity-a.akamaihd.net  {
    header_up Host steamcommunity.com
}
}

https://store.steampowered.com:443 {
#tls self_signed
tls steamcommunity.crt steamcommunity.key
    # default/catchall
    reverse_proxy  https://steamuserimages-a.akamaihd.net https://steamcdn-a.akamaihd.net https://steamstore-a.akamaihd.net https://steamcommunity-a.akamaihd.net https://steampipe.akamaized.net https://eaassets-a.akamaihd.net https://humblebundle-a.akamaihd.net https://steamcommunity-a.akamaihd.net  {
    header_up Host store.steampowered.com
}
}

https://api.steampowered.com:443 {
#tls self_signed
tls steamcommunity.crt steamcommunity.key
    # default/catchall
    reverse_proxy https://steamuserimages-a.akamaihd.net https://steamcdn-a.akamaihd.net https://steamstore-a.akamaihd.net https://steamcommunity-a.akamaihd.net https://steampipe.akamaized.net https://eaassets-a.akamaihd.net https://humblebundle-a.akamaihd.net https://steamcommunity-a.akamaihd.net  {
    header_up Host api.steampowered.com
}
}

https://discordapp.com:443 {
tls steamcommunity.crt steamcommunity.key {
    protocols  tls1.2
ciphers TLS_RSA_WITH_3DES_EDE_CBC_SHA TLS_RSA_WITH_AES_128_CBC_SHA TLS_RSA_WITH_AES_256_CBC_SHA TLS_RSA_WITH_AES_128_GCM_SHA256 TLS_RSA_WITH_AES_256_GCM_SHA384 TLS_AES_128_GCM_SHA256 TLS_AES_256_GCM_SHA384 TLS_CHACHA20_POLY1305_SHA256 TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
}
    reverse_proxy https://discord.com  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://dl.discordapp.net:443 {
tls steamcommunity.crt steamcommunity.key {
    protocols  tls1.2
ciphers TLS_RSA_WITH_3DES_EDE_CBC_SHA TLS_RSA_WITH_AES_128_CBC_SHA TLS_RSA_WITH_AES_256_CBC_SHA TLS_RSA_WITH_AES_128_GCM_SHA256 TLS_RSA_WITH_AES_256_GCM_SHA384 TLS_AES_128_GCM_SHA256 TLS_AES_256_GCM_SHA384 TLS_CHACHA20_POLY1305_SHA256 TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
}
    reverse_proxy https://162.159.133.232 https://162.159.134.232 https://162.159.129.232 https://162.159.130.232 https://162.159.128.232  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://status.discordapp.com:443 {
tls steamcommunity.crt steamcommunity.key
    reverse_proxy https://162.159.133.233 https://162.159.129.233 https://162.159.130.233 https://162.159.134.233 https://162.159.135.233  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://cdn.discordapp.com:443 {
tls steamcommunity.crt steamcommunity.key
    reverse_proxy https://162.159.133.233 https://162.159.129.233 https://162.159.130.233 https://162.159.134.233 https://162.159.135.233  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://media.discordapp.net:443 {
tls steamcommunity.crt steamcommunity.key
    reverse_proxy https://162.159.133.232 https://162.159.134.232 https://162.159.129.232 https://162.159.130.232 https://162.159.128.232  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://images-ext-2.discordapp.net:443 {
tls steamcommunity.crt steamcommunity.key
    reverse_proxy https://162.159.133.232 https://162.159.134.232 https://162.159.129.232 https://162.159.130.232 https://162.159.128.232  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://images-ext-1.discordapp.net:443 {
tls steamcommunity.crt steamcommunity.key
    reverse_proxy https://162.159.133.232 https://162.159.134.232 https://162.159.129.232 https://162.159.130.232 https://162.159.128.232  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://support.discordapp.com:443 {
tls steamcommunity.crt steamcommunity.key
    reverse_proxy https://104.16.53.111 https://104.16.54.111 https://104.16.51.111 https://104.16.55.111 https://104.16.52.111  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://url7195.discordapp.com:443 {
tls steamcommunity.crt steamcommunity.key
    reverse_proxy https://162.159.133.233 https://162.159.129.233 https://162.159.130.233 https://162.159.134.233 https://162.159.135.233  {
    
    header_up Host {host}
     transport http { 
      tls_insecure_skip_verify
}
}
}

https://steamcdn-a.akamaihd.net:443 {
    #tls self_signed
    tls steamcommunity.crt steamcommunity.key
        # default/catchall
        reverse_proxy https://steamuserimages-a.akamaihd.net https://steamstore-a.akamaihd.net https://steamcommunity-a.akamaihd.net https://steampipe.akamaized.net https://eaassets-a.akamaihd.net https://humblebundle-a.akamaihd.net https://steamcommunity-a.akamaihd.net  {
        header_up Host steamcdn-a.akamaihd.net
}
}

https://origin-a.akamaihd.net:443 {
tls steamcommunity.crt steamcommunity.key
        reverse_proxy http://cctv4-lh.akamaihd.net http://moviesok-i.akamaihd.net http://vluki-a.akamaihd.net http://hgtv-i.akamaihd.net http://toots-a.akamaihd.net  {
        header_up Host origin-a.akamaihd.net
        header_up -X-Forwarded-For
        header_down -X-Forwarded-For
}
}

https://static3.cdn.ubi.com:443 {
        tls steamcommunity.crt steamcommunity.key
            # default/catchall
            reverse_proxy https://static2.cdn.ubi.com  {
            header_up Host static3.cdn.ubi.com
}
}

https://www.google.com:443/recaptcha {
#tls self_signed
tls steamcommunity.crt steamcommunity.key
    redir / https://www.recaptcha.net{uri}
}

https://www.google.com:443 {
#tls self_signed
tls steamcommunity.crt steamcommunity.key
reverse_proxy https://google.com {
   header_up Host www.google.com
}
}
https://url9177.discordapp.com https://canary-api.discordapp.com https://cdn-ptb.discordapp.com https://ptb.discordapp.com https://status.discordapp.com https://cdn-canary.discordapp.com https://cdn.discordapp.com https://streamkit.discordapp.com https://i18n.discordapp.com https://url9624.discordapp.com https://url7195.discordapp.com https://merch.discordapp.com https://printer.discordapp.com https://canary.discordapp.com https://apps.discordapp.com https://pax.discordapp.com  {
tls steamcommunity.crt steamcommunity.key
reverse_proxy https://162.159.133.233 https://162.159.129.233 https://162.159.130.233 https://162.159.134.233 https://162.159.135.233  {
header_up Host {host}
transport http { 
tls_insecure_skip_verify
}
}
}


https://pixiv.net, www.pixiv.net, ssl.pixiv.net, accounts.pixiv.net, touch.pixiv.net, oauth.secure.pixiv.net { 
tls cert.crt cert.key
reverse_proxy https://210.140.131.219 { 
header_up Host {host} 

transport http {
tls_insecure_skip_verify
}
}
}

i.pximg.net {
tls cert.crt cert.key
reverse_proxy https://210.140.92.140 https://210.140.92.137 https://210.140.92.139 https://210.140.92.142 https://210.140.92.134 https://210.140.92.141 https://210.140.92.143 https://210.140.92.136 https://210.140.92.138 https://210.140.92.144 https://210.140.92.145 {
header_up Host {host}
transport http {
tls_insecure_skip_verify
}
}
}

sketch.pixiv.net { 
tls cert.crt cert.key 
reverse_proxy https://210.140.214.211 https://210.140.214.212 https://210.140.214.213 { 
header_up Host {host} 
transport http { 
tls_insecure_skip_verify 
} 
}
}

*.pixivsketch.net { 
tls cert.crt cert.key 
reverse_proxy https://210.140.214.211 https://210.140.214.212 https://210.140.214.213 { 
header_up Host {host} 
transport http { 
tls_insecure_skip_verify 
} 
}
}

factory.pixiv.net { 
tls cert.crt cert.key 
reverse_proxy https://210.140.131.180 { 
header_up Host {host} 
transport http { 
tls_insecure_skip_verify 
} 
} 
}

dic.pixiv.net, en.dic.pixiv.net, sensei.pixiv.net, fanbox.pixiv.net, payment.pixiv.net {
tls cert.crt cert.key
reverse_proxy https://210.140.131.222 {
header_up Host {host}
transport http {
tls_insecure_skip_verify
}
}
}

imgaz.pixiv.net, comic.pixiv.net, novel.pixiv.net, source.pixiv.net, i1.pixiv.net, i2.pixiv.net, i3.pixiv.net, i4.pixiv.net {
tls cert.crt cert.key
reverse_proxy https://210.140.131.145 https://210.140.131.144 https://210.140.131.147 https://210.140.131.153 {
header_up Host {host}
transport http {
tls_insecure_skip_verify
}
}
}

medium.com {
tls cert.crt cert.key
reverse_proxy https://104.16.120.127   {
header_up Host {host}
transport http {
tls_insecure_skip_verify
}
}
}

*.medium.com {
tls cert.crt cert.key
reverse_proxy https://104.16.120.145  {
header_up Host {host}
transport http {
tls_insecure_skip_verify
}
}
}

raw.githubusercontent.com {
tls cert.crt cert.key
reverse_proxy https://151.101.64.133   {
header_up Host {host}
transport http {
tls_insecure_skip_verify
}
}
}

steamcdn-a.akamaihd.net {
tls cert.crt cert.key
reverse_proxy https://steamuserimages-a.akamaihd.net https://steamstore-a.akamaihd.net https://steamcommunity-a.akamaihd.net https://steampipe.akamaized.net https://eaassets-a.akamaihd.net https://humblebundle-a.akamaihd.net https://steamcommunity-a.akamaihd.net   {
header_up Host {host}
transport http {
tls_insecure_skip_verify
}
}
}

origin-a.akamaihd.net {
tls cert.crt cert.key
reverse_proxy http://cctv4-lh.akamaihd.net http://moviesok-i.akamaihd.net http://vluki-a.akamaihd.net http://hgtv-i.akamaihd.net http://toots-a.akamaihd.net   {
header_up Host {host}
}
}

steam-chat.com {
tls cert.crt cert.key
reverse_proxy https://steamuserimages-a.akamaihd.net https://steamstore-a.akamaihd.net https://steamcommunity-a.akamaihd.net https://eaassets-a.akamaihd.net https://humblebundle-a.akamaihd.net https://steamcommunity-a.akamaihd.net   {
header_up Host {host}
transport http {
tls_insecure_skip_verify
}
}
}


